body {
    margin: 0px;
}

.hero {
    background-color: #b23a31;
    padding: 20px;
    padding-left: 20px;
}

header {
    display: flex;
    justify-content: space-between;
}

header img {
    height: 150px;
    width: auto;
}

.top-links {
    display: flex;
    list-style: none;
    gap: 8px;
    padding: 0px;
}

.top-links li {
    justify-content: space-between;
    font-size: 18px;
}

li a {
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-top: 5px;
    margin-bottom: 5px;
}

.info {
    display: flex;  
    padding-left: 10px;
    padding-right: 10px;
}

.left {
    display: flex;
    flex-direction: column;
    color: #e5e7eb;
}

.left h3 {
    font-size: 18px;
}

.right img {
    height: auto;
    width: 50vw;
    max-width: 630px;
}

button {
    background-color: #3882f6;
    color: #F9FAF8;
    font-weight: bold;
    font-size: 20px;
    height: 40px;
    width: 150px;
    margin-top: 5px;
    border-radius: 12px;
    margin-bottom: 20px;
}

.additional-info h2{
    font-size: 36px;    
    text-align: center;
}

.boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;

}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    padding-bottom: 15px;
}

.text-space {
    text-align: center;
    padding-top: 10px;
}

.img-space {
    justify-content: center;
    display: flex;
    height: 150px;
    width: 150px; 
    border: 4px solid #b23a31;
    border-radius: 12px;
    overflow: hidden; /* Hide overflow to crop the image */
    position: relative;
}

.img-space img{
    height: 150px;
    width: auto;
}

 .quote {
    padding: 40px;
    background-color: #E5E7EB;
    padding-bottom: 0px;
 }

.full-context {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 28px;
}

.speaker {
    align-self: end;
    font-weight: 900;
    padding-bottom: 20px;
}

footer {
    display: flex;
    color: #E5E7EB;
    background-color: #b23a31;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.socials {
    display: flex;
    align-items: center;
}

.socials a {
    display: flex;
    align-items: center;
    color: #E5E7EB;

}

.socials img {
    margin-left: 10px;
    width: 24px;
    height: 24px;
}
/* .contact .center {
    height: 90%;
} */

.contact-info {
    background-color: #E5E7EB;
    text-align: center;
    border-radius: 12px;
    display: flex; /* Add this line */
    flex-direction: column; /* Add this line */
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

.contact-info img {
    width: 80vw;
    height: auto;
    padding-bottom: 10px;
    max-width: 600px; /* Optional: Add a max-width to prevent it from being too large on large screens */
}

.contact-info h1, .contact-info a {
    font-size: 38px;
    padding: 10px;
    color: black;
}


.contact.hero {
    height: 90vh;
    padding-bottom: 0px;
}

footer {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 10vh;
}

@media (max-width: 768px) {
    header {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .left {
        justify-content: center;
        text-align: center;
        align-items: center;
    }  

    .info {
        flex-direction: column;
        align-items: center;
    }

    .info img {
        width: 80vw;
        height: auto;
    }
}